html {
  background-color: #F0EFEF;
}

header {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

#name {
  padding-top: 22px;
  font-size: 30px;
  width: 25%;
  float: left;
}

.differentpagesgrid {
  width: 50%;
  float: right;
}

.grid-pages {
margin-top: 32px;
}

.grid-pages {
  float: right;
}

.grid-pages > a {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background: ##F0EFEF;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.grid-pages > a:hover {
  box-shadow: inset 10px 0 0 25px #53a7ea;
  border: 1px solid black;
  padding: 5px;
  background: #eee;
}
