#intro > p {
	font-size: 20px;
	color: white;
}

.newsdash {
	padding-top: 20px;
}

.breaking {
	background-color: red;
	text-align: center;
	width: 100%;
	height: 90px;
}

.breaking > h1 {
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	/*s*/
}

.breaking > a {
	color: white;
	padding-bottom: 20px;
}

#newslist {
	text-align: left;
	border: 2px solid white;
	/*background-color: white;*/
	font-size: 20px;
}
